---
title: feed
layout: null
permalink: /.
pagination:
  per_page: 10
  collection: notes, gallery
  permalink: 'feed-:num'
  enabled: true
  extension: html
  indexpage: 'feed'
---
<html><body class="h-feed">
    {% for post in paginator.posts %}
   <div class="h-entry">
        <h1 class="p-name">{{ post.title | xml_escape }}</h1>
        <time class="dt-published" datetime="{{ post.date  | date_to_xmlschema }}" title="{{ post.date  | date_to_xmlschema }}">{{ post.date  | date_to_xmlschema }}</time>
        <div class="e-content p-name comment-content">
        </div>
        <a class="u-uid u-url" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">Full post</a>
                <ol>
  {% assign syndications = post.syndication %}
  {% for syndication in syndications %}
  <li><a href="{{syndication}}" class="u-syndication" >{{syndication}}</a></li>
  {% endfor %}
  </ol>
  </div>
{% endfor %}
<!--
   {% for post in site.posts %}
   <div class="h-entry">
        <h1 class="p-name">{{ post.title | xml_escape }}</h1>
        <time class="dt-published" datetime="{{ post.date  | date_to_xmlschema }}" title="{{ post.date  | date_to_xmlschema }}">{{ post.date  | date_to_xmlschema }}</time>
                <div class="e-content p-name comment-content">
        </div>
        <a class="u-uid u-url" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">Full post</a>
        <ol>
  {% assign syndications = post.syndication %}
  {% for syndication in syndications %}
  <li><a href="{{syndication}}" class="u-syndication" >{{syndication}}</a></li>
  {% endfor %}
  </ol>
	</div>
    {% endfor %}
  -->
</body>
</html>
