<div class="h-card" rel="me">
	<img class="u-photo" rel="me" src="{{site.url}}{{site.image}}" alt="my photo" />
	<div>
		<a rel="author" class="p-name u-url" rel="me" href="{{site.url}}">{{site.author}}</a>
		<a class="u-email" rel="me" href="mailto:{{site.email}}">email</a>,<br />
		<a class="u-email" rel="me" href="">tomasparks@21:1/164</a>, (<a href="http://www.bbs.geek.nz/#fsxNet">fsxnet</a>)<br />
		<a class="u-email" rel="me" href="">tomasparks@fideonet</a>. (comming soon)<br />
		<div class="p-note">{{site.bio}}</div>
	</div>
</div>
