<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="icon" href="{{ /assets/img/favicon.png | relative_url }}"> 
    <link href="{{"/assets/css/bootstrap.css" | relative_url}}" rel="stylesheet" media="screen">

<script src="https://use.fontawesome.com/8ada10233a.js"></script>

{% seo %}

<!-- IndieAuth -->
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
{% for link in site.social.links %}<link href="{{link}}" rel="me">{% endfor %}
<!-- webmentions -->
{% webmentions_head %}
<link rel="micropub" href="http://localhost/micropub/micropub.php">
<link rel="feed" type="text/html" title="Main feed" href="{{site.url}}/feed.html" />
</head>
<body>
<header>
<table>
<tr>
<td class="text-left">
<script type="text/javascript"><!--
var now = new Date();
var Month = new Array("JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC");
document.write(now.getDate()+" "+Month[now.getMonth()]+" "+now.getFullYear());
//--></script></td>
<td class="text-center"><a rel="me" href="{{ site.url }}">{{ site.name }}</a></td>
<td class="text-right" ><script type="text/javascript"><!--
var date_format = '12'; /* FORMAT CAN BE 12 hour (12) OR 24 hour (24)*/
var d 		= new Date();
var hour 	= d.getHours();  /* Returns the hour (from 0-23) */
var minutes     = d.getMinutes();  /* Returns the minutes (from 0-59) */
var result 	= hour;
var ext 	= '';
if(date_format == '12'){
	if(hour > 12){
		ext = 'PM';
		hour = (hour - 12);
	
		if(hour < 10){
			result = "0" + hour;
		}else if(hour == 12){
			hour = "00";
			ext = 'AM';
		}
	}
	else if(hour < 12){
		result = ((hour < 10) ? "0" + hour : hour);
		ext = 'AM';
	}else if(hour == 12){
		ext = 'PM';
	}
}
if(minutes < 10){
	minutes = "0" + minutes; 
}
result = result + ":" + minutes + ' ' + ext; 
document.write(result);
//--></script></td></tr>
</table>
</header>
