---
layout: default
pagination:
  enabled: true
---

<div class="note h-entry" style="padding:1em;margin:1em;border:1px solid;">
  <div class="h-cite u-like-of">
<i class="fa fa-heart" aria-hidden="true"></i> Liked <a class="u-url" href="{{ page.ext-url }}">{{ page.ext-title }}</a> by
    <span class="p-author h-card">
      <a class="u-url p-name" href="https://example.com">Author Name</a>
    </span>:
    <blockquote class="e-content">
      <p>The post being liked</p>
    </blockquote>
  </div>

<p class="post-meta align-right"> <time class="dt-published" datetime="{{ post.date }}" title="{{ post.date }}"><a href="{{site.url}}{{ post.url }}" class="u-url">{{ post.date }}</a></time> </p>
<p class="post-meta align-right p-author h-card"> <span class="p-name">{{site.author}}</span> <a href="{{site.url}}" class="u-url"><img src="{{site.url}}{{site.image}}" class="u-photo" style="height:1.2em; vertical-align: text-bottom;" alt=""></a> </p>
</div>

{% include pagination.html %}
