---
layout: default
pagination:
  enabled: true
---

<div class="note h-entry" style="padding:1em;margin:1em;border:1px solid;">
<div class="u-comment h-cite" id="{{page._id}}">
  <p class="e-content p-name comment-content">{{ content }}</p>
 
<p class="post-meta align-right">
<div class="post-categories">

  {% assign categories = page.categories %}
  {% for category in categories %}
  <a href="{{site.baseurl}}/categories/#{{category|slugize}}">#{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>

  Also posted on:
  {% assign syndications = page.syndication %}
  {% for syndication in syndications %}
  <a href="{{syndication}}" class="u-syndication" >{{syndication}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
  
 <time class="dt-published" datetime="{{ page.date  | date_to_xmlschema }}" title="{{ page.date  | date_to_xmlschema }}"><a href="{{site.url}}{{ post.url }}" class="u-url">{{ page.date  | date_to_string }}</a></time> </p>
<p class="post-meta align-right p-author h-card"> <span class="p-name">{{site.author}}</span> <a href="{{site.url}}" class="u-url"><img src="{{site.url}}{{site.image}}" class="u-photo" style="height:1.2em; vertical-align: text-bottom;" alt=""></a> </p>
</div>
</div>


 {% include pagination.html %}
