---
layout: default
---
<!-- start of page -->
<main role="main">
<article  class="h-entry">  
<div class="container">
{% if page.title %}
<header class="jumbotron subhead" id="overview">
 <div class="container">
    <h1 class="lead p-name">{{ page.title }}</h1>
  </div>
</header>
{% endif %}
 <div class="e-content">
       				{% include image.html %}
       				<div id="author" style="padding:1em;margin:1em;float:right;border:1px solid;">
       				{% include author.html %}
       				</div>
        {{ content }}
        </div>
  <div>
</article>


</main>
<!-- end of page -->
