---
layout: default
---
<!-- start of page -->
<main role="main">
<article class="h-entry">
  <p class="p-name e-content">{{ content }}</p>


  {% for photo in page.photos %}
  <div class="h-entry">
  <a class="u-photo" href="./{{ photo.link }}">
    <img class="u-photo" src="{{ photo.filename }}" alt="[photo] {{ photo.content }}">
    </a>
     	{% assign ptags = photo.ptag %}
 		{% for ptag in ptags %}
<span class="u-category h-card"> 
  <a class="u-url p-name" href="{{ptag.url}}">{{ptag.name}}</a> 
   <a class="u-url" href="facebook.com/{{ptag.facebook_id}}">f</a>)
</span> 
       {% endfor %}
  </div>
  {% endfor %}
  <p>Permalink: <a class="u-uid u-url u-syndication" rel="syndication" href="{{site.url}}{{ page.url }}">{{site.url}}{{ page.url }}</a></p>
  
  Also posted on:
  {% assign syndications = page.syndication %}
  {% for syndication in syndications %}
  <a href="{{syndication}}" class="u-syndication" >{{syndication}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</article>

</main>
<!-- end of page -->
