---
layout: default
pagination:
  enabled: true
---
<!-- start of post -->
<main role="main">
	<div class="container">
		{% if page.title %}
			<header class="jumbotron subhead" id="overview">
				<div class="container">
					<h1 class="lead">{{ page.title }}</h1>
				</div>
			</header>
		{% endif %}

  <ul class="nav nav-tabs" role="navigation" >
    <li class="active"><a data-toggle="tab" href="#home">Main (F2)</a></li>
    <li><a data-toggle="tab" href="#menu1">Meta (F3)</a></li>
    <li><a data-toggle="tab" href="#menu2">Comments (F4)</a></li>
    <li><a data-toggle="tab" href="#menu3">Webmention (F5)</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      				{% include image.html %}
				{{ content }}
    </div>
    <div id="menu1" class="tab-pane fade">
				<p>Date: <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time></p>
				<p>Author: Tom Sparks</p>
				<p>Permalink: {{site.url}}{{ page.url }}</p>
    </div>

    <div id="menu2" class="tab-pane fade">
				{% include comments.html %}
    </div>
    <div id="menu3" class="tab-pane fade">
				{% include webmention.html %}
    </div>
  </div>
</div>

{% include pagination.html %}

</main>
<script>$( "#tabs" ).tabs();</script>
<!-- end of post -->
